<a href="{{ content.field_item_link[0]['#url'] }}">
  <div class="page-in">
    <div class="visuel-wrap">
      {{ content.field_itme_image }}
      <div class="bubble-title">
        <h3>{{ content.field_item_title }}</h3>
      </div>
    </div>
    <div class="page-description">
      {{ content.field_item_description }}
    </div>
    <span class="default-link">{{ 'En savoir plus'|t }}</span>
  </div>
</a>